<?xml version="1.0"?>
<config>
  <modules>
    <Eloom_MercadoPago>
      <version>##eloom.versao##</version>
    </Eloom_MercadoPago>
  </modules>

  <frontend>
    <routers>
      <eloom_mercadopago>
        <use>standard</use>
        <args>
          <module>Eloom_MercadoPago</module>
          <frontName>eloommercadopago</frontName>
        </args>
      </eloom_mercadopago>
    </routers>

    <layout>
      <updates>
        <eloom_mercadopago>
          <file>eloom/mercadopago.xml</file>
        </eloom_mercadopago>
      </updates>
    </layout>

    <translate>
      <modules>
        <Eloom_MercadoPago>
          <files>
            <default>Eloom_MercadoPago.csv</default>
          </files>
        </Eloom_MercadoPago>
      </modules>
    </translate>
  </frontend>
  
  <adminhtml>
    <translate>
      <modules>
        <Eloom_MercadoPago>
          <files>
            <default>Eloom_MercadoPago.csv</default>
          </files>
        </Eloom_MercadoPago>
      </modules>
    </translate>
  </adminhtml>

  <global>
    <models>
      <eloom_mercadopago>
        <class>Eloom_MercadoPago_Model</class>
        <resourceModel>eloom_mercadopago_resource</resourceModel>
      </eloom_mercadopago>

      <eloom_mercadopago_resource>
        <class>Eloom_MercadoPago_Model_Resource</class>
      </eloom_mercadopago_resource>
    </models>

    <resources>
      <eloom_mercadopago_write>
        <connection>
          <use>core_write</use>
        </connection>
      </eloom_mercadopago_write>
      <eloom_mercadopago_read>
        <connection>
          <use>core_read</use>
        </connection>
      </eloom_mercadopago_read>
      <eloom_mercadopago_setup>
        <setup>
          <module>Eloom_MercadoPago</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </eloom_mercadopago_setup>
    </resources>

    <helpers>
      <eloom_mercadopago>
        <class>Eloom_MercadoPago_Helper</class>
      </eloom_mercadopago>
    </helpers>

    <blocks>
      <eloom_mercadopago>
        <class>Eloom_MercadoPago_Block</class>
      </eloom_mercadopago>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
          <sales_order_invoice_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
          <sales_order_creditmemo_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
      <sales>
        <rewrite>
          <order_totals>Eloom_Payment_Block_Sales_Order_Totals</order_totals>
          <order_invoice_totals>Eloom_Payment_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
          <order_creditmemo_totals>Eloom_Payment_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
        </rewrite>
      </sales>
    </blocks>
    
    <sales>
      <quote>
        <totals>
          <eloom_mercadopago_campaign>
            <class>eloom_mercadopago/sales_quote_address_total_campaign</class>
            <after>subtotal,shipping</after>
            <before>grand_total</before>
          </eloom_mercadopago_campaign>
          <eloom_mercadopago_discount>
            <class>eloom_mercadopago/sales_quote_address_total_discount</class>
            <after>subtotal,shipping</after>
            <before>grand_total</before>
          </eloom_mercadopago_discount>
          <eloom_mercadopago_interest>
            <class>eloom_mercadopago/sales_quote_address_total_interest</class>
            <after>shipping</after>
            <before>grand_total</before>
          </eloom_mercadopago_interest>
        </totals>
      </quote>
      <order_invoice>
        <totals>
          <eloom_mercadopago_campaign>
            <class>eloom_mercadopago/sales_order_invoice_total_campaign</class>
            <after>subtotal,shipping</after>
            <before>grand_total</before>
          </eloom_mercadopago_campaign>
          <eloom_mercadopago_discount>
            <class>eloom_mercadopago/sales_order_invoice_total_discount</class>
            <after>subtotal,shipping</after>
            <before>grand_total</before>
          </eloom_mercadopago_discount>
          <eloom_mercadopago_interest>
            <class>eloom_mercadopago/sales_order_invoice_total_interest</class>
            <before>grand_total</before>
          </eloom_mercadopago_interest>
        </totals>
      </order_invoice>
    </sales>
    
    <fieldsets>
      <sales_convert_quote_address>
        <!-- Desconto -->
        <mercadopago_discount_amount>
          <to_order>*</to_order>
        </mercadopago_discount_amount>
        <mercadopago_base_discount_amount>
          <to_order>*</to_order>
        </mercadopago_base_discount_amount>
        <!-- Campanha -->
        <mercadopago_campaign_amount>
          <to_order>*</to_order>
        </mercadopago_campaign_amount>
        <mercadopago_base_campaign_amount>
          <to_order>*</to_order>
        </mercadopago_base_campaign_amount>
        <!-- Juros -->
        <mercadopago_interest_amount>
          <to_order>*</to_order>
        </mercadopago_interest_amount>
        <mercadopago_base_interest_amount>
          <to_order>*</to_order>
        </mercadopago_base_interest_amount>
      </sales_convert_quote_address>
    </fieldsets>
        
    <events>
      <eloom_mercadopago_cancel_order>
        <observers>
          <eloom_mercadopago_cancel_order>
            <class>eloom_mercadopago/observer</class>
            <method>cancelOrder</method>
          </eloom_mercadopago_cancel_order>
        </observers>
      </eloom_mercadopago_cancel_order>
      <eloom_mercadopago_process_transaction>
        <observers>
          <eloom_mercadopago_process_transaction>
            <class>eloom_mercadopago/observer</class>
            <method>processTransaction</method>
          </eloom_mercadopago_process_transaction>
        </observers>
      </eloom_mercadopago_process_transaction>
    </events>
  </global>
  
  <crontab>
    <jobs>
      <eloom_mercadopago_waiting_payment>
        <schedule>
          <cron_expr>##cron_expr_waitingPaymentTransaction##</cron_expr>
        </schedule>
        <run>
          <model>eloom_mercadopago/cron::waitingPaymentTransaction</model>
        </run>
      </eloom_mercadopago_waiting_payment>
      <eloom_mercadopago_cancel_order_with_payment_expired>
        <schedule>
          <cron_expr>##cron_expr_cancelOrderWithPaymentExpired##</cron_expr>
        </schedule>
        <run>
          <model>eloom_mercadopago/cron::cancelOrderWithPaymentExpired</model>
        </run>
      </eloom_mercadopago_cancel_order_with_payment_expired>
    </jobs>
  </crontab>

  <default>
    <!--
    <sales>
      <totals_sort>
        <eloom_mercadopago_discount>28</eloom_mercadopago_discount>
        <eloom_mercadopago_campaign>29</eloom_mercadopago_campaign>
      </totals_sort>
    </sales>
    -->
    <payment>
      <eloom_mercadopago>
        <allowspecific>1</allowspecific>
        <specificcountry>BR</specificcountry>
        <payment_action>sale</payment_action>
        <allow_campaigns>0</allow_campaigns>
      </eloom_mercadopago>
      <eloom_mercadopago_boleto>
        <active>0</active>
        <title><![CDATA[Boleto Bancário]]></title>
        <model>eloom_mercadopago/method_boleto</model>
        <expiration>1</expiration>
        <instructions><![CDATA[<p>O vencimento do boleto será <strong>amanhã</strong> ou no próximo dia útil em caso de feriados ou finais de semana, ok?</p>
<p><strong>Você poderá imprimir o boleto bancário após confirmar o pedido.</strong></p>
<p>O prazo de entrega passará a valer a partir do momento em que o banco confirmar o pagamento do boleto, geralmente no dia útil seguinte ao pagamento.</p>]]>
        </instructions>
        <cancel>1</cancel>
        <cancel_on_friday>5</cancel_on_friday>
        <cancel_on_saturday>4</cancel_on_saturday>
        <cancel_on_sunday>3</cancel_on_sunday>
        <sort_order>5</sort_order>
      </eloom_mercadopago_boleto>
      <eloom_mercadopago_cc>
        <active>0</active>
        <title><![CDATA[Cartão de Crédito]]></title>
        <model>eloom_mercadopago/method_cc</model>
        <discount>0</discount>
        <min_installment>9.00</min_installment>
        <sort_order>6</sort_order>
      </eloom_mercadopago_cc>
    </payment>
  </default>
</config>